# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/

# Draft & Planning Artifacts
implementation_plan*
walkthrough.md

# OS Files
.DS_Store
Thumbs.db

